<a href="https://colab.research.google.com/github/RA2112704010021/RA2112704010021/blob/main/RA2112704010021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Harry', 'Chris', 'Dan', 'Justin'],
        'Age':[20, 21, 19, 18], 'Height':['152cm', '172cm', '184cm', '170cm']}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

     Name  Age Height
0   Harry   20  152cm
1   Chris   21  172cm
2     Dan   19  184cm
3  Justin   18  170cm

In [3]:
import numpy as np
import pandas as pd
"""Analysis of 7 Countries"""
df=pd.DataFrame({
    'Population' : [35.467, 63.951, 80.94, 60.665, 127.061, 65.511, 318.523],
    'GDP' : [8574536, 3425674, 1754753, 2464567, 3542567, 5432567, 43256753],
    'Surface Area' : [9483209, 235123, 453256, 673829, 475829 , 832476, 8574638],
    'HDI' : [0.645, 0.754, 0.967, 0.342, 0.564, 0.976, 0.866],
    'Continent' : ['America', 'Europe', 'Europe', 'Europe', 'Asia', 'Europe', 'America']

},columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])
df.index=[
          'Canada',
          'France',
          'Germany',
          'Italy',
          'Japan',
          'United Kingdom',
          'United States']
print(df)
print()
print(df.loc['Canada'])
print()
print("Mean: ")
print(df.mean())
crisis=pd.Series([-1000000,-0.3], index=['GDP', 'HDI'])
print()
print(df[['GDP','HDI']]+crisis)
lang=pd.Series(
                ['French','German','Italian'],
               index=['France','Germany','Italy']
)
df['Language']=lang
print()
print(df)

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   8574536       9483209  0.645   America
France              63.951   3425674        235123  0.754    Europe
Germany             80.940   1754753        453256  0.967    Europe
Italy               60.665   2464567        673829  0.342    Europe
Japan              127.061   3542567        475829  0.564      Asia
United Kingdom      65.511   5432567        832476  0.976    Europe
United States      318.523  43256753       8574638  0.866   America

Population       35.467
GDP             8574536
Surface Area    9483209
HDI               0.645
Continent       America
Name: Canada, dtype: object

Mean:
Population      1.074454e+02
GDP             9.778774e+06
Surface Area    2.961194e+06
HDI             7.305714e-01
dtype: float64

                       GDP    HDI
Canada           7574536.0  0.345
France           2425674.0  0.454
Germany           754753.0  0.667
Italy            1464567.0  0.042
Japan            2542567.0  0.264
United Kingdom   4432567.0  0.676
United States   42256753.0  0.566

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   8574536       9483209  0.645   America      NaN
France              63.951   3425674        235123  0.754    Europe   French
Germany             80.940   1754753        453256  0.967    Europe   German
Italy               60.665   2464567        673829  0.342    Europe  Italian
Japan              127.061   3542567        475829  0.564      Asia      NaN
United Kingdom      65.511   5432567        832476  0.976    Europe      NaN
United States      318.523  43256753       8574638  0.866   America      NaN

In [ ]:
import pandas as pd
import numpy as np
print("Mark of Ayush")
marks=[80,72,77,91,90]
sub_name=['Mathematics','Science','Computer Science','Social Science','English']
ind=pd.Series(marks,index=sub_name)
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name),
        "Marks":pd.Series(marks),
        "Grade":pd.Series(['B','C','C','A','A']),
        "Qualification":'Pass',
        "Rank":np.array([1]*5),
    }
)
print(dt)

In [ ]:
marks=[80,72,77,91,90]
sub_name=['Mathematics','Science','Computer Science','Social Science','English']
ind=pd.Series(marks,index=sub_name)
dt=pd.DataFrame(
    {
        "Subjects":pd.Series(sub_name),
        "Marks":pd.Series(marks),
        "Grade":pd.Series(['A','B','C','A','A']),
        "Qualification":'Pass',
        "Rank":np.array([1]*5),
    }
)
print(marks)
mrk=np.mean(marks)
mrk1=np.median(marks)

print("Mean marks is:",mrk)
print("Median mark is:",mrk1)
x=np.percentile(marks, 80, axis=None,interpolation='midpoint')
print("Percentile function:",x)
y=np.var(marks, axis=None, dtype=None, ddof=0)
print("Variance function:",y)
z=np.std(marks, axis=None, dtype=None, ddof=0)
print("Standard deviation:",z)